
  <manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sergioapps.infomagnet.infomagnet">

      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
  </manifest>
  